/* display loading gif and hide webpage */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("spinner.gif") 50% 50% no-repeat;
}

/* prevent scrollbar from display during load */
body.loading {
  overflow: hidden;
}

h1 {
  color: red;
}
/* display the modal when loading class is added to body */
body.loading.modal {
  display: block;
}
